.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
  border-bottom: 1px solid;
  border-bottom-color: #222;
}

.Repo {
  padding: 20px;
  text-align: left;
  border: 2px solid #222;
}

